<div class="container">

    <h1>Modificar</h1>

    <hr>

    <form method="POST" action="/place">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" name="type" value="{{type}}">
        </div>
        <br></br>
        <input type="submit" value="borrar">
        <input type="submit" value="Actualizar lugar">

    </form>

</div>